%h2 Topics

%table
  %tr
    %th Title
    %th
    %th

  %tr
    %td
      [
      = link_to 'add', new_topic_path
      ]
    %td
    %td

  - @topics.each do |topic|
    %tr{ class: ('needs_review' if topic.needs_review) }
      %td= link_to topic.title, topic
      %td= link_to 'Edit', edit_topic_path(topic)
      %td= button_to 'Destroy', topic, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
