%h2 Listing topics

%table
  %tr
    %th Title
    %th
    %th

  - @topics.each do |topic|
    %tr
      %td= link_to topic.title, topic
      %td= button_to 'Edit', edit_topic_path(topic)
      %td= button_to 'Destroy', topic, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Topic', new_topic_path
