.topic_panel{data: {topic_id: topic.id}}
  %h2.title
    = topic.title
  %p.description
    = topic.description
  %ul
    - topic.resources.each do |resource|
      %li.resource
        = link_to resource.display_title, resource.url
