// from http://bl.ocks.org/rkirsling/5001347#app.css

.graph {
  svg {
    // cover the background
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-color: #FFF;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    &:not(.active):not(.ctrl) {
      cursor: crosshair;
    }
  }

  path.link {
    fill: none;
    stroke: #000;
    stroke-width: 4px;
    cursor: default;

    svg:not(.active):not(.ctrl) & {
      cursor: pointer;
    }

    &.selected {
      stroke-dasharray: 10,2;
    }

    &.dragline {
      pointer-events: none;
    }

    &.hidden {
      stroke-width: 0;
    }
  }

  circle.node {
    stroke-width: 1.5px;
    cursor: pointer;

    &.reflexive {
      stroke: #000 !important;
      stroke-width: 2.5px;
    }
  }

  text {
    font: 12px sans-serif;
    pointer-events: none;

    &.id {
      text-anchor: middle;
      font-weight: bold;
    }
  }
}
