header {
  * {
    display: inline-block;
  }

  h1 {
    margin: 0;
    font-size: 3em;
    font-family: Futura, sans-serif;
    color: black;

    a {
      text-decoration: none;
    }
  }

  .logo-front {
    color: #858585;
  }

  .logo-back {
    color: #000;
  }

  .nav {
    li {
      display: inline-block;
    }
  }
}
