@import "shared";

#home {
  .topic_panel {
    width: 500px;
    margin: 60px auto;
    list-style-type: none;
    font-size: 1.5em;

    // hide them by default, and make sure they're not blocking clicks
    position: absolute;
    bottom: 100%;
    opacity: 0;
    @include transition(opacity 200ms ease);

    &,
    & a {
      color: #fff;
    }

    &.active {
      position: static;
      opacity: 1;
    }

    .title {
      font-family: $node-title-font;
      font-size: 2.75em;
    }

    .resource {
      line-height: 1.6em;
    }
  }
}
