@import "shared";

#home {
  .topic_panel {
    width: 500px;
    margin: 60px auto;
    list-style-type: none;
    font-size: 1.5em;

    // hide them by default, and make sure they're not blocking clicks
    position: absolute;
    bottom: 100%;
    opacity: 0;
    @include transition(opacity 200ms ease);

    &,
    & a {
      color: #fff;
    }

    &.active {
      position: relative;
      opacity: 1;
    }

    .edit_link {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.8em;
    }

    .title {
      margin-bottom: 0;
      font-family: $node-title-font;
      font-size: 2.75em;
    }

    .alternate_titles {
      margin-top: 0.2em;
      font-style: italic;
    }

    .description {
      margin-top: 2em;
    }

    .resource {
      line-height: 1.6em;
    }
  }
}
